<table class="tablesorter">
    <thead>
        <tr>
            <th>titre</th>
            <th>url</th>
            <th>type</th>
            <th>site</th>
            <th>action</th>
        </tr>
    </thead>

    <tbody>
    {% for entity in entities %}
    	<tr>
    		<td>{{ entity.titre|length > 15 ? entity.titre[:15] ~ '...' : entity.titre }}</td>
            <td>{{ entity.url|length > 15 ? entity.url[:15] ~ '...' : entity.url }}</td>
            <td>{{ entity.type|length > 15 ? entity.type[:15] ~ '...' : entity.type }}</td>
            <td>{{ entity.sites.nom|length > 15 ? entity.sites.nom[:15] ~ '...' : entity.sites.nom }}</td>

            <td>
                <ul>
                    <li><a class="btn btn-small" href="{{ path('admin_liens_index_update', { 'id':entity.id, 'page': page}) }}">editer</a></li>
                    <li><a class="btn btn-small" href="{{ path('admin_liens_delete', { 'id': entity.id }) }}">suppr</a></li>
                </ul>
            </td>
    	</tr>
    {% endfor %}
    </tbody>
    </table>

    <div id="table_info">
        <ul id="pagination">
        {% for list_page in range(page - 4, page + 4) %}
        {% if list_page > 0 and list_page <= count_page %}
        	{% if list_page == page %}
				<li class="active">{{ page }}</li>
        	{% else %}
        	<li><a href="{{ path('admin_liens_index', {'page': list_page}) }}">{{ list_page }}</a></li>
        	{% endif %}
        		
        {% endif %}
        {% endfor %}
        </ul>
        <div class="wrap_button">
            <a href="{{ path('admin_liens_index_add', {'page': page}) }}" class="btn btn_small">Ajouter</a>
        </div>
	</div>
