<h1>Bienvenu sur le site de l'asbl avec le soleil</h1>

 <div>
    <a href="{{ path("vae_multi_site_accueil", { '_locale': 'fr'}) }}">Francais</a>
    <a href="{{ path("vae_multi_site_accueil", { '_locale': 'en'}) }}">Anglais</a>   
</div>

<ul>
    <li>
        {% if langue == 'fr'%}
        <a href='{{ path("vae_base_rubrique_detail", {'nomSite': 'Alphabétisation', 'slugRubrique': 'accueil'}) }}'>Alphabétisation</a>
        <a href='{{ path("vae_base_rubrique_detail", {'nomSite': 'EFT', 'slugRubrique': 'accueil'}) }}'>EFT</a>
        <a href='{{ path("vae_base_rubrique_detail", {'nomSite': 'Céramique', 'slugRubrique': 'accueil'}) }}'>Céramique</a>
        {% else %}
        <a href='{{ path("vae_base_rubrique_detail", {'nomSite': 'Alphabétisation', 'slugRubrique': 'home'}) }}'>Alphabétisation</a>
        <a href='{{ path("vae_base_rubrique_detail", {'nomSite': 'EFT', 'slugRubrique': 'home'}) }}'>EFT</a>
        <a href='{{ path("vae_base_rubrique_detail", {'nomSite': 'Céramique', 'slugRubrique': 'home'}) }}'>Céramique</a>
        {% endif %}    
    </li>
</ul>

{#
    code statique du chapeau

    variable : langue
    pour tester /app_dev.php/
#}
