{% for formation in formations %}
<article>
    {% if langue == 'fr'%}
         <header>
           <h2><a href="{{ path('vae_base_formation_detail',{'nomSite' : site.nom, 'slugRubrique' : rubrique.slug, 'slugFormation' : formation.slug } )}}">{{formation.nom}} - (max {{formation.maxInscrit}}) </a></h2>
           <p>{{formation.description|raw}}</p>
           <p>{{formation.prix}}€ TTC</p>
           <time>{{formation.debut|date('d-m-Y') }}</time> - <time>{{formation.fin|date('d-m-Y') }}</time>
           <p></p>
         </header>
    {% else %}
        <header>
           <h2><a href="{{ path('vae_base_formation_detail',{'nomSite' : site.nom, 'slugRubrique' : rubrique.slugEn, 'slugFormation' : formation.slugEn } )}}">{{formation.nomEn}}- (max {{formation.maxInscrit}})</a></h2>
           <p>{{formation.descriptionEn|raw}}</p>
           <p>{{formation.prix}}€ TTC</p>
           <time>{{formation.debut|date('m-d-Y') }}</time> - <time>{{formation.fin|date('m-d-Y') }}</time>
        </header>
    {% endif %}
</article>
{% endfor %}



{#
    Exemple 1 : liste des formations par site, ...
    ---------------------------------------------

    Nom du Bundle: VaeBaseBundle
    Controller: Formation
    Action    : index
    ----------------------------------------------

    A INTEGRER : 
        - dans le detail rubrique
        - {{ render(controller('VaeBaseBundle:Formation:index', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slug } ))}}
                                                                                                        rubrique.slugEn

    VARIABLES DISPONIBLES:
        - formation: ARRAY/OBJ : 
                     propriétés : id, nom, nomEn, contenu, contenuEn, debut, fin, slug, slugEn
        - langue
        - site.nom

    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/nom du site/formations
                                                   ateliers
    ----------------------------------------------
#}
