{% extends "::base.html.twig" %}
{%block content%}
<section id="left-content" >
<section class="col-md-9">

         <article><h2>Agenda</h2>
         <ul>
            {% for agenda in agendas %}
            <li>{% if langue == 'fr'%}<a href="{{ path('vae_base_agenda_detail',{'nomSite' : site.nom, 'slugAgenda' : agenda.slug } )}}"><article>
              <header>
              <h1>{{agenda.titre}}</h1>
              <time>{{agenda.date|date('d/m/y')}}</time>
              </header>
              <p>{{agenda.contenu|raw}}</p>
              </article></a>
            {% else %}
              <a href="{{ path('vae_base_agenda_detail',{'nomSite' : site.nom, 'slugAgenda' : agenda.slugEn } )}}"><article>
              <header>
              <h1>{{agenda.titreEn}}</h1>
              <time>{{agenda.date|date('m/d/y')}}</time>
              </header>
              <p>{{agenda.contenuEn|raw}}</p>
              </article></a>
            {% endif %}
            </li>
            {% endfor %}
          </ul>
        </article>
    
</section>
</section><!--end left-content-->

{%endblock%}

{#
    Exemple 1 : agenda complet, ...
    ----------------------------------------------
    DESCRIPTION :       
    Liste des evenements encodés dans l'agenda par date décroissante

    Nom du Bundle: VaeBaseBundle
    Controller: Agenda
    Action    : agenda
    ----------------------------------------------

    A INTEGRER : 
        - dans un block
        - ...

    POUR LE LIENS:
    Route: vae_base_agenda_agenda
           Paramètre: STRING : {'nomSite' : site.nom}

    VARIABLES DISPONIBLES:
        - agenda: ARRAY/OBJ : 
                     propriétés : id, titre, titreEn, contenu, contenuEn, date, slug, slugEn
        - langue
        - site.nom
    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/nom du site/agenda
    ----------------------------------------------
#}



