{% extends "::base.html.twig" %}
{%block content%}
<section id="left-content" >
<section class="col-md-9">
 
    <article>
     
        <h2>Agenda - Détail</h2>
         <article>
             {% if langue == 'fr'%}
              <header>
              <h1>{{agenda.titre}}</h1>
              <time>{{agenda.date|date('d/m/y')}}</time>
              </header>
              <p>{{agenda.contenu|raw}}</p>
             </article>
              {% else %}
              <header>
              <h1>{{agenda.titreEn}}</h1>
              <time>{{agenda.date|date('m/d/y')}}</time>
              </header>
              <p>{{agenda.contenuEn|raw}}</p>
              </article>
              {% endif %}
        </article>
        
</section>
</section><!--end left-content-->
{%endblock%}



 

{#
    Exemple 1 : detail d'un evenement de l'agenda, ...
    ----------------------------------------------
    DESCRIPTION :       
    detail des evenements encodés dans l'agenda

    Nom du Bundle: VaeBaseBundle
    Controller: Agenda
    Action    : detail
    ----------------------------------------------

    A INTEGRER : 
        - dans un block
        - ...

    POUR LE LIENS:
    Route: vae_base_agenda_detail
           Paramètre: STRING : {'nomSite' : site.nom, 'slugAgenda' : agenda.slug }
                                                      'slugAgenda' : agenda.slugEn
    VARIABLES DISPONIBLES:
        - agenda: ARRAY/OBJ : 
                     propriétés : id, titre, titreEn, contenu, contenuEn, date slug, slugEn
        - langue
        - site.nom            
    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/nom du site/slug agenda
    ----------------------------------------------
#}