<table class="tablesorter">
    <thead>
        <tr>
            <th>nom</th>
            <th>contenu</th>
            <th>site</th>
            <th>action</th>
        </tr>
    </thead>

    <tbody>
    {% for entity in entities %}
    	<tr>
            <td>{{ entity.nom|length > 15 ? entity.nom[:15] ~ '...' : entity.nom }}</td>
            <td>{{ entity.contenu|length > 15 ? entity.contenu[:15] ~ '...' : entity.contenu }}</td>
            <td>{{ entity.sites.nom|length > 15 ? entity.sites.nom[:15] ~ '...' : entity.sites.nom }}</td>

            <td>
                <ul>
                    <li><a class="btn btn-small" href="{{ path('admin_rubriques_index_update', { 'id':entity.id, 'page': page}) }}">editer</a></li>
                </ul>
            </td>
    	</tr>
    {% endfor %}
    </tbody>
    </table>

    <div id="table_info">
        <ul id="pagination">
        {% for list_page in range(page - 4, page + 4) %}
        {% if list_page > 0 and list_page <= count_page %}
        	{% if list_page == page %}
				<li class="active">{{ page }}</li>
        	{% else %}
        	<li><a href="{{ path('admin_rubriques_index', {'page': list_page}) }}">{{ list_page }}</a></li>
        	{% endif %}
        		
        {% endif %}
        {% endfor %}
        </ul>
	</div>
