
    <h1>Nos créations</h1>

         {% for produit in produits %}
            {% if langue == 'fr'%}
                <div class="col-md-3"><a class="test" href="{{ path('vae_boutique_detail',{'nomSite' : site.nom, 'slugRubrique' : rubrique.slug, 'slugProduit' : produit.slug } )}}"><img src="{{ asset('uploads/images/'~produit.image) }}" width='200px' height='120'></a><p class="col-md-9">{{produit.nom}}</p></div>
             {% else %}
                <div class="col-md-3"><a class="test" href="{{ path('vae_boutique_detail',{'nomSite' : site.nom, 'slugRubrique' : rubrique.slugEn, 'slugProduit' : produit.slugEn } )}}"><img src="{{ asset('uploads/images/'~produit.image) }}" width='200px' height='120'></a><p class="col-md-9">{{produit.nomEn}}</p></div>
             {% endif %}

          {% endfor %}


{#
    Exemple 1 : detail de produit en vente
    ----------------------------------------------

    Nom du Bundle: VaeBoutiqueBundle
    Controller: Produit
    Action    : galerie
    ----------------------------------------------

    A INTEGRER : 
        - dans detail rubrique
        - {{ render(controller('VaeBoutiqueBundle:Produit:galerie', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slug} ))}}

    VARIABLES DISPONIBLES:
        - produit: ARRAY/OBJ : 
                     propriétés : id, nom, nomEn, description, descriptionEn, disponible, prix, slug, slugEn, image

        - langue
        - site.nom
        - rubrique.slug
                  .slugEn
    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/céramique/boutique
    ----------------------------------------------
#}