<div class="container-fluid">
<div class="row-fluid">
<div class="col-md-9">
    <h1>Création à vendre</h1>
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        {% for produit in produits %}
                        <li class="col-md-3">
                            <div class="thumbnail">
                                {% if langue == 'fr'%}
                                  <p class="col-md-9">{{produit.nom}}</p>
                                  <a href="{{ path('vae_boutique_detail',{'nomSite' : site.nom, 'slugRubrique' : rubrique.slug, 'slugProduit' : produit.slug } )}}"><img src="{{ asset('uploads/images/'~produit.image) }}"><a>
                                 {% else %}
                                  <p class="col-md-9">{{produit.nomEn}}</p>
                                  <a href="{{ path('vae_boutique_detail',{'nomSite' : site.nom, 'slugRubrique' : rubrique.slugEn, 'slugProduit' : produit.slugEn } )}}"><img src="{{ asset('uploads/images/'~produit.image) }}"></a>
                                 {% endif %}
                            </div>
                            
                        </li>
                        {% endfor %}
                    </ul>
              </div><!-- /Slide1 --> 
            
            
             
        </div>
        
       {# <div class="control-box">                            
            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
        </div><!-- /.control-box -->   #}
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.span12 -->          
</div><!-- /.row --> 
</div><!-- /.container -->

{#
    Exemple 1 : detail de produit en vente
    ----------------------------------------------

    Nom du Bundle: VaeBoutiqueBundle
    Controller: Produit
    Action    : index
    ----------------------------------------------

    A INTEGRER : 
        - dans detail rubrique
        - {{ render(controller('VaeBoutiqueBundle:Produit:index', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slug} ))}

    VARIABLES DISPONIBLES:
        - produit: ARRAY/OBJ : 
                     propriétés : id, nom, nomEn, description, descriptionEn, disponible, prix, slug, slugEn, image

        - langue
        - site.nom
        - rubrique.slug
                  .slugEn
    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/céramique/boutique
    ----------------------------------------------
#}

