{% extends "::base.html.twig" %}
{%block content%}

<article>
                                            
    <div>
        {% if langue == 'fr'%}
            <h2><a href="#">{{rubrique.nom}}</a></h2>
            <p>{{rubrique.contenu}}</p>
        {% else %}
            <h2><a href="#">{{rubrique.nomEn}}</a></h2>
            <p>{{rubrique.contenuEn}}</p>
        {% endif %}
    </div>
    
    <div>
        <a href="{{ path("vae_base_rubrique_detail", { '_locale': 'fr', 'nomSite': site.nom, 'slugRubrique': rubrique.slug}) }}">Francais</a>
        <a href="{{ path("vae_base_rubrique_detail", { '_locale': 'en', 'nomSite': site.nom, 'slugRubrique': rubrique.slugEn}) }}">Anglais</a>   
    </div>

</article>

{% if langue == 'fr'%}
    {% if ((rubrique.slug == 'formations') or (rubrique.slug == 'ateliers')) %}
        {{ render(controller('VaeBaseBundle:Formation:index', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slug } ))}}
    {% endif %}
    {% if ((rubrique.slug == 'boutique')) %}
        {{ render(controller('VaeBoutiqueBundle:Produit:index', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slug} ))}}
    {% endif %}
{% else %}
    {% if (rubrique.slugEn == 'trainings') or (rubrique.slugEn == 'workshop') %}
        {{ render(controller('VaeBaseBundle:Formation:index', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slugEn } ))}}
    {% endif %}
    {% if ((rubrique.slugEn == 'shop')) %}
        {{ render(controller('VaeBoutiqueBundle:Produit:index', {'nomSite' : site.nom, 'slugRubrique' : rubrique.slugEn} ))}}
    {% endif %}
{% endif %} 

{%endblock%}