        <section class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for rubrique in rubriques %}
                {% if langue == 'fr'%}
                    <li><a class="test" href="{{path('vae_base_rubrique_detail',{'nomSite': site.nom, 'slugRubrique': rubrique.slug})}}">{{rubrique.nom}}</a></li>
                {% else %}
                    <li><a class="test" href="{{path('vae_base_rubrique_detail',{'nomSite': site.nom, 'slugRubrique': rubrique.slugEn})}}">{{rubrique.nomEn}}</a></li>
                {% endif %}
            {% endfor %}
            <li><p>
                   <a href="{{ path("vae_base_rubrique_detail", { '_locale': 'fr', 'nomSite': site.nom, 'slugRubrique': thisRub.slug}) }}">Fr</a> -
                   <a href="{{ path("vae_base_rubrique_detail", { '_locale': 'en', 'nomSite': site.nom, 'slugRubrique': thisRub.slugEn}) }}">En</a>
                </p>
                <p>  
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p id="test"><a href='{{ path('fos_user_profile_show')}}'>Profile</a><p>
                        <p id="test"><a href='{{ path('fos_user_security_logout')}}'>
                                {% if langue == 'fr'%}
                                    Deconnexion
                                {% else %}
                                    Logout
                                {% endif %}  
                            </a><p>
                    {% else %}
                        <p id="test"><a href='{{ path('fos_user_registration_register')}}'>
                                {% if langue == 'fr'%}
                                    Inscription
                                {% else %}
                                    register
                                {% endif %} </a><p>
                        <p id="test"><a href='{{ path('fos_user_security_login')}}'>Connexion</a><p>
                    {% endif %}
                </p>
 
            </li>
          </ul>
        </section><!--/.nav-collapse -->


   {#
    Exemple 1 : menu, ...
    ----------------------------------------------

    Nom du Bundle: VaeBaseBundle
    Controller: Rubrique
    Action    : menu
    ----------------------------------------------

    A INTEGRER : 
        - dans le template de base
        - {{ render(controller('VaeBaseBundle:Rubrique:menu', {'nomSite' : site.nom } ))}}


    VARIABLES DISPONIBLES:
        - rubrique: ARRAY/OBJ : 
                     propriétés : id, nom, nomEn, slug, slugEn
        - site.nom
        - langue

    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/nom du site/slug rubrique
    ----------------------------------------------
#}


